/* مخفي افتراضيًا (Desktop) */
.lang-btn-fixed {
  display: none;
}

/* حركة الظهور */
.lang-btn-fixed.fade-in {
  opacity: 1;
  transform: scale(1) translateY(0);
}

/* حركة الاختفاء */
.lang-btn-fixed.fade-out {
  opacity: 0;
  transform: scale(0.5) translateY(20px);
}





/* ✅ يظهر في الآيباد والموبايل */
@media (max-width: 768px) {
  .lang-btn-fixed {
    position: fixed;
    bottom: 10px;
    /* لجعل العنصر في المنتصف تماماً */
    left: 80%;
    transform: translateX(-50%) scale(0.5) translateY(20px);
    display: flex;
    align-items: center;
    color:var( --color-gold);
    padding: 12px 16px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 900;
    font-family:var(--font-en) ;

    opacity: 0;
    transform: scale(0.5) translateY(20px);

    transition:
      opacity 0.5s ease,
      transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
