.news-center {
  padding: 80px 60px;
  background-color: #fff;
  text-align: center;
  direction: ltr !important;
  font-family: var(--font-en);
  margin: 10px auto;

}

.news-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 50px;
}

.news-title span {
  color: #c40000;
}

/* Grid */
.news-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 40px;
  margin-bottom: 50px;
}

/* Card */
.news-card {
  width: 95%;
  height: 120px;
  display: flex;
  gap: 40px;
  align-items: center;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.06);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.news-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}


.news-card img {
  width: 160px;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
}

/* Content */
.news-content h3 {
  font-size: 18px;
  font-weight: 540;
  margin-bottom: 8px;
  line-height: 1.4;
}

.news-content p {

  font-size: 14px;
  color: #555;
  line-height: 1.6;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* عدد السطور */
  -webkit-box-orient: vertical;
  overflow: hidden;

}




/* Button */
.more-btn {
  margin-top: 10px;
  width: fit-content;
  padding: 10px 22px;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 700;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s ease;

}

.more-btn:hover {
  background-color: var(--background-color);
  color: #fff;
  transform: translateX(6px);
}

/* Responsive */
@media (max-width: 900px) {
  .news-grid {
    grid-template-columns: 1fr;
    margin: 0 auto;

  }

  .news-card {
    flex-direction: column;
    height: 360px;
    margin-bottom: 18px;
  }

  .news-card img {
    width: 100%;
    height: 200px;
  }
  .news-content p {
    display: -webkit-box;
  }
}