.news-center {
  padding: 80px 60px;
  background-color: #fff;
  text-align: center;
}

.news-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 50px;
}

.news-title span {
  color: #c40000;
}

/* Grid */
.news-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 40px;
  margin-bottom: 50px;
}

/* Card */
.news-card {
 display: flex;
  gap: 40px;
  align-items: center;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.06);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.news-card img {
  width: 160px;
  height: 110px;
  object-fit: cover;
  border-radius: 4px;
}

/* Content */
.news-content h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.4;
}

.news-content p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

/* Button */
.more-btn {
  
background: rgba(2, 67, 48, 0.8);
  color: #fff;
  border: none;
  text-decoration: none;
  padding: 14px 40px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.more-btn:hover {
  background-color:var(--background-color);
}

/* Responsive */
@media (max-width: 900px) {
  .news-grid {
    grid-template-columns: 1fr;
  }

  .news-card {
    flex-direction: column;
  }

  .news-card img {
    width: 100%;
    height: 200px;
  }
}
