.social-nav {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
  direction: ltr !important;
}

.social-nav a {
  color: var(--color-gold);
  font-size: 30px;
  transition: color 0.3s ease;
}

.social-nav a:hover {
  color: var(--color-primary);
}

/* مخفي افتراضيًا (Desktop) */
.lang-btn-fixed {
  display: none;
}

/* حركة الظهور */
.lang-btn-fixed.fade-in {
  opacity: 1;
  transform: scale(1) translateY(0);
}

/* حركة الاختفاء */
.lang-btn-fixed.fade-out {
  opacity: 0;
  transform: scale(0.5) translateY(20px);
}

.lang-icon {
  font-size: 25px;
}

/* SocialNav.css */
@media (max-width: 768px) {
  .social-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-top: 25px;
    padding: 15px 15px;
    position: fixed;
    gap: 20px;
    background: rgba(21, 69, 54, 0.5);
    z-index: 10;
    top: auto;
    bottom: 1px;
    left: 1%;
    right: 1%;
    font-size: 30px;
    font-weight: 700;
    transform: translateX(0);
    border-radius: 4rem;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }

  .social-nav a {
    font-size: 8rem;

  }

}

.social-nav a {
  font-size: 24px;
}


/* ✅ يظهر في الآيباد والموبايل */
@media (max-width: 1024px) {
  .lang-btn-fixed {
    position: fixed;
    bottom: 58px;
    right: 10px;
    z-index: 20;
    display: flex;
    align-items: center;
    background: rgba(21, 69, 54, 0.8);
    color:var( --color-gold);
    padding: 12px 16px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 25px;

    font-weight: 900;
    font-family:var(--font-en) ;


    opacity: 0;
    transform: scale(0.5) translateY(20px);

    transition:
      opacity 0.5s ease,
      transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
