.projects-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 60px 8%;
}

.project-card {
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
  color: #fff;
}

.project-overlay h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.details-btn {
  display: inline-block;
  padding: 8px 18px;
  background: rgba(2, 67, 48, 0.8);
  color: var(--color-white);
  text-decoration: none;
  border-radius: 20px;
  font-size: 14px;
  transition: 0.3s;
}

.details-btn:hover {
  color: var(--color-white);

}

@media (max-width: 992px) {
  .projects-page {
    grid-template-columns: 1fr;
  }

  .project-card {
    height: 300px;
  }
}