.about-section {
  padding: 10px 5%;
  background: #fff;
  margin-top: 50px;
  box-shadow: 0 5px 5px #0000001a;
  border-radius: 9px;
  direction: ltr !important;
  font-family: var(--font-en);

}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.about-tag {
  color: var(--color-primary);
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--background-color);
}

.about-text {
  color: var(--color-dark);
  line-height: 1.8;
  margin-bottom: 30px;

  max-width: 600px;
}

.about-btn {
  display: inline-block;
  background: rgba(2, 67, 48, 0.8);
  color: var(--color-white);
  padding: 12px 30px;
  margin-top: 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 2px 5px var(--color-beige);
}

.about-btn:hover {
  background-color: #f5f5f5;
  color: var(--background-color);
  transform: translateY(-2px);
}


.about-image img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(12px);
  transition: opacity 0.25s ease, transform 0.25s ease;
}


/* Responsive */
@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-text {
    margin: 0 auto 25px;
  }
}