.site-footer {
  background-color: #fff;
  color: var(--color-gold);
  font-size: 14px;
  box-shadow: 0 -2px 10px #0000001a;
  text-align: center;
  padding: 30px 15px;
  margin-bottom: 10px;
  font-family:var(--font-en);
  direction: ltr !important


}

.footer-logo {
  display: inline-block;
  text-decoration: none;
  color: var(--background-color);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-CopyRight {
  margin-bottom: 10px;
  color: var(--background-color);
}

.footer-CopyRight a {
  color: var(--color-primary);
  transition: color 0.3s ease;
}

.footer-CopyRight a:hover {
  color: var(--color-secondary);
}

/* سوشيال داخل الفوتر */


/* Responsive for mobile */
@media (max-width: 768px) {
 .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .site-footer {
    padding: 20px 15px;
  }
}